
.formRow {
  display: flex;
  gap: 2rem; 
}

.formRow > div {
  flex: 1;
}

.hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  margin: 16px 0;
}
