.search_container {
    position: relative;
    width: 100%;
  }
  
  .search_icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: gray;
  }
  
  .search_input {
    width: 100%;
    padding: 10px 10px 10px 35px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  
  .search_input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  